{% if (current_credential_input_source_index | default(0)) == 0 %}
---
controller_credential_input_sources:
{% endif %}
  # target_credential_name: "{{ credential_input_sources_target_name }}"
{% if credential_input_sources_list %}
{% for current_credential_input_sources_asset_value in current_credential_input_sources_asset_values %}
  - target_credential: {{ current_credential_input_sources_asset_value.target_credential }}
    source_credential: {{ current_credential_input_sources_asset_value.source_credential }}
    input_field_name: "{{  current_credential_input_sources_asset_value.input_field_name }}"
    metadata:
{{ current_credential_input_sources_asset_value.metadata | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
    description: "{{ current_credential_input_sources_asset_value.description }}"
{% endfor %}
{% else %}
  - target_credential: {{ current_credential_input_sources_asset_value.target_credential }}
    source_credential: {{ current_credential_input_sources_asset_value.source_credential }}
    input_field_name: "{{  current_credential_input_sources_asset_value.input_field_name }}"
    metadata:
{{ current_credential_input_sources_asset_value.metadata | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
    description: "{{ current_credential_input_sources_asset_value.description }}"
{% endif %}
{% if last_credential_input_source | default(true) | bool %}
...
{% endif %}
